# --- Global System Files ---
.DS_Store
.vscode/
.idea/
*.log

# --- React (visualiser-ui) ---
visualiser-ui/node_modules
visualiser-ui/dist
visualiser-ui/dist-ssr
visualiser-ui/*.local
visualiser-ui/npm-debug.log*
visualiser-ui/yarn-debug.log*
visualiser-ui/yarn-error.log*

# --- Rails (visualiser-api) ---
visualiser-api/.config
visualiser-api/log/*
!visualiser-api/log/.keep
visualiser-api/tmp
visualiser-api/storage/*
!visualiser-api/storage/.keep
visualiser-api/vendor
visualiser-api/db/*.sqlite3
visualiser-api/db/*.sqlite3-journal
visualiser-api/.env
visualiser-api/master.key
